.header > .navbar {
    margin-bottom: 0px;
}

.header .col-xs-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.header .nav li {
    margin-top: 10px;
}

.header img {
    height: 60px;
}

.sgpfc-jumbotron {
   background-color: dimgrey;
}

.sgpfc-jumbotron h1 {
    color: #ffffff;
    font-size: 50px;
    padding: 0px;
    margin-left: 30px;
}

.sgpfc-btn-primary {
	color: #fff;
    background-color: dimgrey;
    border-color: dimgray;
}

.sgpfc-btn-seeall {
	color: dimgrey;
    border-color: dimgrey;
    margin-top: 15px;
    font-weight: bold;
    font-color:dimgrey;
}
	
.sgpfc-header-links-left {
    font-size: 16px;
    font-weight: bold;
    color: dimgrey;
}

.sgpfc-header-left {
    padding-right: 0px;
    padding-left: 0px;
}

.sgpfc-header-links-right {
    font-size: 16px;
    font-weight: bold;
  /*   float: right;
    width: 126px; */
    color: dimgrey;
}

.sgpfc-header-right {
    padding-right: 0px;
    padding-left: 0px;
}

.sgpfc-createofferform-nameinput {
    margin-bottom: 15px;
}

.sgpfc-createofferform-descriptioninput {
    margin-bottom: 15px;
}

.sgpfc-createofferform-datelimitinput {
    margin-bottom: 15px;
}

.sgpfc-createofferform-offerimageinput {
	
}

.sgpfc-createofferform-createofferbutton {
    float: right;
}

.sgpfc-modal-title {
	
}

 .st-sort-ascent:before {
    content: '\25B2';
  }

  .st-sort-descent:before {
    content: '\25BC';
  }
  
  .sgpfc-home-recommended {
  margin-bottom: 15px;
  }
  
  .sgpfc-container-cards {
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  
  .sgpfc-card-tall-big {
    background-color: #ffffff;
    border: solid 1px #D9D9DE;
    border-radius: 6px;
    line-height: 1.5;
    margin-bottom: 10px;
    position: relative;
    font-size: 12px;
    height: 400px;
}

@media (min-width: 641px)
.sgpfc-card-tall-big {
    height: 458px;
}

.sgpfc-card-wrap {
    clear: both;
}

.sgpfc-card-thumbnail {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    position: relative;
}

.sgpfc-card-thumbnail-img {
    display: block;
}

.sgpfc-card-thumbnail-img img {
    display: block;
    height: 150px;
    width: 100%
}

.sgpfc-card-content {
    padding: 10px;
}

.sgpfc-card-title {
    font-size: 14px;
    font-weight: bold;
    webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: inherit;
    overflow: hidden;
}

.sgpfc-card-title a {
    color: #0F2105;
}

.sgpfc-card-title a:hover {
    color: #0F2105;
    text-decoration: none;
}

.sgpfc-card-teacher {
    margin-bottom: 10px;
    webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sgpfc-card-description {
    margin-bottom: 0px;
  /*   webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

@media (min-width: 641px)
.project-card-footer {
    position: absolute;
    padding-top: 45px;
}

.sgpfc-card-footer {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 26%);
    border-radius: 0 0 6px 6px;
    bottom: 0;
    width: 90%;
    position: absolute;
    padding-top: 45px;
}

.sgpfc-btn-offers-search {
	margin-bottom: 20px;
    margin-left: 80px;
}