.header > .navbar {
    margin-bottom: 0px;
}

.header .col-xs-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.header .nav li {
    margin-top: 10px;
}

.header img {
    height: 60px;
}

.sgpfc-jumbotron {
   background-color: dimgrey;
}

.sgpfc-jumbotron h1 {
    color: #ffffff;
    font-size: 50px;
    padding: 0px;
    margin-left: 30px;
}

.sgpfc-btn-primary {
	color: #fff;
    background-color: dimgrey;
    border-color: dimgray;
}

.sgpfc-btn-seeall {
	color: dimgrey;
    border-color: dimgrey;
    margin-top: 15px;
    font-weight: bold;
    font-color:dimgrey;
}
	
.sgpfc-header-links-left {
    font-size: 16px;
    font-weight: bold;
    color: dimgrey;
}

.sgpfc-header-left {
    padding-right: 0px;
    padding-left: 0px;
}

.sgpfc-header-links-right {
    font-size: 16px;
    font-weight: bold;
  /*   float: right;
    width: 126px; */
    color: dimgrey;
}

.sgpfc-header-right {
    padding-right: 0px;
    padding-left: 0px;
}

.sgpfc-createofferform-nameinput {
    margin-bottom: 15px;
}

.sgpfc-createofferform-descriptioninput {
    margin-bottom: 15px;
}

.sgpfc-createofferform-datelimitinput {
    margin-bottom: 15px;
}

.sgpfc-createofferform-offerimageinput {
	
}

.sgpfc-createofferform-createofferbutton {
    float: right;
}

.sgpfc-modal-title {
	
}

 .st-sort-ascent:before {
    content: '\25B2';
  }

  .st-sort-descent:before {
    content: '\25BC';
  }
  
  .sgpfc-home-recommended {
  margin-bottom: 15px;
  }
  
  .sgpfc-container-cards {
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
  
  .sgpfc-card-tall-big {
    background-color: #ffffff;
    border: solid 1px #D9D9DE;
    border-radius: 6px;
    line-height: 1.5;
    margin-bottom: 10px;
    position: relative;
    font-size: 12px;
    height: 400px;
}

@media (min-width: 641px)
.sgpfc-card-tall-big {
    height: 458px;
}

.sgpfc-card-wrap {
    clear: both;
}

.sgpfc-card-thumbnail {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    position: relative;
}

.sgpfc-card-thumbnail-img {
    display: block;
}

.sgpfc-card-thumbnail-img img {
    display: block;
    height: 150px;
    width: 100%
}

.sgpfc-card-content {
    padding: 10px;
}

.sgpfc-card-title {
    font-size: 14px;
    font-weight: bold;
    webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: inherit;
    overflow: hidden;
}

.sgpfc-card-title a {
    color: #0F2105;
}

.sgpfc-card-title a:hover {
    color: #0F2105;
    text-decoration: none;
}

.sgpfc-card-teacher {
    margin-bottom: 10px;
    webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sgpfc-card-description {
    margin-bottom: 0px;
  /*   webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

@media (min-width: 641px)
.project-card-footer {
    position: absolute;
    padding-top: 45px;
}

.sgpfc-card-footer {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 26%);
    border-radius: 0 0 6px 6px;
    bottom: 0;
    width: 90%;
    position: absolute;
    padding-top: 45px;
}

.sgpfc-btn-offers-search {
	margin-bottom: 20px;
    margin-left: 80px;
}




.animated {
  -webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.hinges {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
}

.animated.slow {
	-webkit-animation-duration: 3s;
	   -moz-animation-duration: 3s;
	     -o-animation-duration: 3s;
	        animation-duration: 3s;
}

.animated.snail {
	-webkit-animation-duration: 4s;
	   -moz-animation-duration: 4s;
	     -o-animation-duration: 4s;
	        animation-duration: 4s;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

.login .modal-dialog{
    width: 350px;
}
.login .modal-footer{
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}
.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
/*     padding: 11px 15px; */
}
.login .modal-body{
/*     background-color: #eeeeee; */
}

.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.login .btn-login, .registerBox .btn-register{
    background-color: #00BBFF;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}
.login .btn-login:hover, .registerBox .btn-register:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}
.login .form-control{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}
.login .form-control:hover{
    background-color: rgba(0,0,0,.16);
}
.login .form-control:focus{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0,0,0,0.23);
    color: #FFFFFF;
}
.login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}


@media (max-width:400px){
    .login .modal-dialog{
        width: 100%;
    }
}