<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Crear Proyecto</title>
</head>
<body>
	<div class="container">
		<div id="createprojectbox"
			class="sgpfc-registerbox col-xs-8 col-xs-offset-2">
			<div class="panel sgpfc-loginbox-panel">
				<div class="panel-heading sgpfc-loginbox-heading">
					<div class="panel-title sgpfc-loginbox-title">Crear Proyecto</div>
				</div>
				<div class="sgpfc-loginbox-panelbody panel-body">
					<div class="help-block" role="alert">
						<div ng-show="noCreateProject" class="alert alert-danger">El
							proyecto no se pudo crear correctamente</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="projectCreated" class="alert alert-success">Proyecto
							creado correctamente.</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="noTeacher" class="alert alert-danger">No
							puedes crear un proyecto ya que no eres un profesor</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="noTeacherOrLogged" class="alert alert-danger">No
							se puede crear el proyecto (no registrado como profesor o
							logeado)</div>
					</div>
					<form id="createprojectform" name="createprojectform"
						class="form-horizontal" role="form" ng-submit="createProject()">
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Nombre</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createprojectform.name.$touched && createprojectform.name.$invalid }">
									<input id="name" type="text" class="form-control" name="name"
										value="" aria-label="..." placeholder="Nombre"
										ng-model="project.projectName" required>
								</div>
								<div class="help-block"
									ng-messages="createprojectform.name.$error"
									ng-if="createprojectform.name.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Código</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createprojectform.code.$touched && createprojectform.code.$invalid }">
									<input id="code" type="text" class="form-control" name="cod"
										value="" aria-label="..." placeholder="Código"
										ng-model="project.projectCode" required>
								</div>
								<div class="help-block"
									ng-messages="createprojectform.code.$error"
									ng-if="createprojectform.code.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Titulación</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createprojectform.career.$touched && createprojectform.name.$invalid }">
									<input id="career" type="text" class="form-control"
										name="career" value="" aria-label="..."
										placeholder="Titulación" ng-model="project.projectCareer"
										required>
								</div>
								<div class="help-block"
									ng-messages="createprojectform.career.$error"
									ng-if="createprojectform.career.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Año</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createprojectform.year.$touched && createprojectform.year.$invalid }">
									<input id="year" type="number" class="form-control" name="year"
										aria-label="..." placeholder="Año" min="1000" max="3000"
										data-ng-model="project.projectYear" required>
								</div>
								<div class="help-block"
									ng-messages="createprojectform.year.$error"
									ng-if="createprojectform.year.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="number" class="alert alert-danger">El
										campo no contiene un año</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="student" class="col-xs-3 control-label">Alumno</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createprojectform.student.$touched && createprojectform.student.$invalid }">
									<select ng-model="project.projectStudent" name="student"
										class="form-control selectpicker" data-live-search="true">
										<option ng-repeat="student in students | orderBy: 'name'"
											value="{{student.userId}}">{{student.name}}</option>
									</select>
								</div>
								<div class="help-block"
									ng-messages="createprojectform.student.$error"
									ng-if="createprojectform.student.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="number" class="alert alert-danger">El
										campo no contiene un año</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputImage" class="col-xs-3 control-label">Documentación</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error':createprojectform.filedocumentation.$touched && createprojectform.filedocumentation.$invalid }">
									<input name="filedocumentation" type="file"
										class="file sgpfc-btn-primary" placeholder="pdf"
										data-allowed-file-extensions='["pdf"]' id="filedocumentation"
										ng-disabled="link != null && link.length != 0"
										file-model="project.projectDocumentation" required>
									<script type="text/javascript">
										$("#filedocumentation").fileinput({
											showUpload : false,
											language : 'es'
										});
									</script>
								</div>
								<div class="help-block"
									ng-messages="createprojectform.filedocumentation.$error"
									ng-if="createprojectform.filedocumentation.$touched"
									role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputImage" class="col-xs-3 control-label">Anteproyecto</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createprojectform.filedraft.$touched && createprojectform.filedraft.$invalid }">
									<input name="filedraft" type="file" placeholder="pdf"
										class="file sgpfc-btn-primary"
										data-allowed-file-extensions='["pdf"]' id="filedraft"
										ng-disabled="link != null && link.length != 0"
										file-model="project.projectDraft" required>
									<script type="text/javascript">
										$("#filedraft").fileinput({
											showUpload : false,
											language : 'es'
										});
									</script>
								</div>
								<div class="help-block"
									ng-messages="createprojectform.filedraft.$error"
									ng-if="createprojectform.filedraft.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="subcategories" class="col-xs-3 control-label">Categorías</label>
							<div class="col-xs-9">
								<uib-accordion close-others="oneAtATime"> <uib-accordion-group
									heading="{{category.categoryName}}"
									ng-repeat="category in categories">
								<div class="btn-group">
									<label id="MyProjectSubcategories" class="btn btn-primary"
										ng-repeat="subcategory in categories[$index].subcategories"
										ng-model="checkModel[subcategory.subcategoryId]"
										uib-btn-checkbox>{{subcategory.subcategoryName}}</label>
								</div>
								</uib-accordion-group> </uib-accordion>
							</div>
						</div>
						<div class="form-group">
							<label for="links" class="col-xs-3 control-label">Enlaces
								externos</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12">
									<input id="links" type="text" class="form-control" name="links"
										value="" aria-label="..." placeholder="Enlace,Enlace,Enlace"
										ng-model="project.projectLinks">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div
								class="sgpfc-recoverypasswordbox-button col-xs-offset-3 col-xs-9">
								<button id="btn-recoverpassword" type="submit"
									class="btn sgpfc-btn-primary btn-block"
									ng-disabled="createprojectform.$invalid">
									<i class="icon-hand-right"></i>Crear Proyecto
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>