<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Crear Offerta</title>
</head>
<body>
	<div class="container">
		<div id="createofferbox"
			class="sgpfc-registerbox col-xs-8 col-xs-offset-2">
			<div class="panel sgpfc-loginbox-panel">
				<div class="panel-heading sgpfc-loginbox-heading">
					<div class="panel-title sgpfc-loginbox-title">Crear Oferta</div>
				</div>
				<div class="sgpfc-loginbox-panelbody panel-body">

					<div class="help-block" role="alert">
						<div ng-show="noCreateOffer" class="alert alert-danger">La
							oferta no se pudo crear correctamente</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="offerCreated" class="alert alert-success">Oferta
							creada correctamente</div>
					</div>

					<div class="help-block" role="alert">
						<div ng-show="noTeacher" class="alert alert-danger">No
							puedes crear una oferta ya que no eres un profesor</div>
					</div>

					<div class="help-block" role="alert">
						<div ng-show="noTeacherOrLogged" class="alert alert-danger">No
							se puede crear la oferta (no registrado como profesor o logeado)</div>
					</div>

					<form id="createofferform" name="createofferform"
						class="form-horizontal" role="form" ng-submit="createOffer()"
						novalidate>
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Nombre</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createofferform.name.$touched && createofferform.name.$invalid }">
									<input id="name" type="text" class="form-control" name="name"
										aria-label="..." placeholder="Nombre"
										ng-model="offer.offerName" required>
								</div>
								<div class="help-block"
									ng-messages="createofferform.name.$error"
									ng-if="createofferform.name.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-xs-3 control-label">Descripción
								Breve</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createofferform.tinydescription.$touched && createofferform.tinydescription.$invalid }">
									<textarea id="tinydescription" type="text"
										class="sgpfc-createofferbox-description form-control"
										name="tinydescription" value="" aria-label="..."
										placeholder="Descripción breve"
										ng-model="offer.offerTinyDescription" required> </textarea>
								</div>
								<div class="help-block"
									ng-messages="createofferform.tinydescription.$error"
									ng-if="createofferform.tinydescription.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="description" class="col-xs-3 control-label">Descripción</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': createofferform.description.$touched && createofferform.description.$invalid }">
									<text-angular
										ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre'],['justifyLeft', 'justifyCenter', 'justifyRight'],
      									['bold', 'underline', 'ul', 'ol', 'redo', 'undo'],['html', 'insertImage','insertLink', 'insertVideo','charcount']]"
										ng-model="htmlVariable" name="description" required></text-angular>
								</div>
								<div class="help-block"
									ng-messages="createofferform.description.$error"
									ng-if="createofferform.description.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="subcategories" class="col-xs-3 control-label">Categorías</label>
							<div class="col-xs-9">
								<uib-accordion close-others="oneAtATime"> <uib-accordion-group
									heading="{{category.categoryName}}"
									ng-repeat="category in categories">

								<div class="btn-group">
									<label id="MyOfferSubcategories" class="btn btn-primary"
										ng-repeat="subcategory in categories[$index].subcategories"
										ng-model="checkModel[subcategory.subcategoryId]"
										uib-btn-checkbox>{{subcategory.subcategoryName}}</label>
								</div>
								</uib-accordion-group> </uib-accordion>
							</div>
						</div>

						<div class="form-group">
							<label for="inputImage" class="col-xs-3 control-label">Imagen</label>
							<div class="col-xs-9"
								ng-class="{ 'has-error': createofferform.file.$touched && createofferform.file.$invalid }">
								<input name="file" type="file" class="file sgpfc-btn-primary"
									placeholder="png o jpg"
									data-allowed-file-extensions='["jpg", "png"]' id="photofile"
									ng-disabled="link != null && link.length != 0"
									file-model="offer.offerImage" required>

								<script type="text/javascript">
									$("#photofile").fileinput({
										showUpload : false,
										language : 'es'
									});
								</script>
							</div>
							<div class="help-block" ng-messages="createofferform.file.$error"
								ng-if="createofferform.file.$touched" role="alert">
								<div ng-message="required" class="alert alert-danger">Este
									campo es Obligatorio</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputImage" class="col-xs-3 control-label">PDF
								(opcional)</label>
							<div class="col-xs-9"
								ng-class="{ 'has-error': createofferform.filepdf.$touched && createofferform.filepdf.$invalid }">
								<input name="filepdf" type="file" class="file sgpfc-btn-primary"
									placeholder="png o jpg" data-allowed-file-extensions='["pdf"]'
									id="filepdf" ng-disabled="link != null && link.length != 0"
									file-model="offer.offerPdf">

								<script type="text/javascript">
									$("#filepdf").fileinput({
										showUpload : false,
										language : 'es'
									});
								</script>
							</div>
							<div class="help-block"
								ng-messages="createofferform.filepdf.$error"
								ng-if="createofferform.filepdf.$touched" role="alert">
								<div ng-message="required" class="alert alert-danger">Este
									campo es Obligatorio</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label">Fecha Límite</label>
							<div class="btn-group col-xs-9"
								ng-class="{ 'has-error': createofferform.options.$touched && createofferform.options.$invalid }">
								<label class="btn btn-default btn-radio"
									ng-class="{'active': limit == '0'}"> <input
									type="radio" data-ng-model="limit" name="options" id="option1"
									value="0">Sin Límite
								</label> <label class="btn btn-default btn-radio"
									ng-class="{'active': limit == '1'}"> <input
									type="radio" data-ng-model="limit" name="options" id="option2"
									-value="1">Oferta Primer Cuatrimestre
								</label> <label class="btn btn-default btn-radio"
									ng-class="{'active': limit == '2'}"> <input
									type="radio" data-ng-model="limit" name="options" id="option3"
									value="2">Oferta Segundo Cuatrimestre
								</label>
							</div>

							<div class="help-block"
								ng-messages="createofferform.options.$error"
								ng-if="createofferform.options.$touched" role="alert">
								<div ng-message="required" class="alert alert-danger">Este
									campo es Obligatorio</div>
							</div>
						</div>
						<div class="form-group">
							<div
								class="sgpfc-recoverypasswordbox-button col-xs-offset-3 col-xs-9">
								<button id="btn-recoverpassword" type="submit"
									class="btn sgpfc-btn-primary btn-block"
									ng-disabled="createofferform.$invalid">
									<i class="icon-hand-right"></i>Crear Oferta
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
</body>
</html>