<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Editar Oferta</title>
</head>
<body>
	<div class="container">
		<div id="editofferbox"
			class="sgpfc-registerbox col-xs-8 col-xs-offset-2">
			<div class="panel sgpfc-loginbox-panel">
				<div class="panel-heading sgpfc-loginbox-heading">
					<div class="panel-title sgpfc-loginbox-title">Editar Oferta</div>
				</div>
				<div class="sgpfc-loginbox-panelbody panel-body">
					<div class="help-block" role="alert">
						<div ng-show="noEditOffer" class="alert alert-danger">La
							oferta no se pudo editar correctamente</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="noTeacher" class="alert alert-danger">No
							puedes editar una oferta ya que no eres un profesor</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="noTeacherOrLogged" class="alert alert-danger">No
							se puede editar la oferta (no registrado como profesor o logeado)</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="incorrectTeacher" class="alert alert-danger">No
							se puede editar la oferta (no eres el propietario)</div>
					</div>
					<form id="editofferform" name="editofferform"
						class="form-horizontal" role="form" ng-submit="editOffer()"
						novalidate>
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Nombre</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editofferform.name.$touched && editofferform.name.$invalid }">
									<input id="name" type="text" class="form-control" name="name"
										aria-label="..." placeholder="Nombre"
										ng-model="offer.offerName" required>
								</div>
								<div class="help-block" ng-messages="editofferform.name.$error"
									ng-if="editofferform.name.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-xs-3 control-label">Descripción
								Breve</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editofferform.tinydescription.$touched && editofferform.tinydescription.$invalid }">
									<textarea id="tinydescription" type="text"
										class="sgpfc-createofferbox-description form-control"
										name="tinydescription" value="" aria-label="..."
										placeholder="Descripción breve"
										ng-model="offer.offerTinyDescription" required> </textarea>
								</div>
								<div class="help-block"
									ng-messages="editofferform.tinydescription.$error"
									ng-if="editofferform.tinydescription.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-xs-3 control-label">Descripción</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editofferform.description.$touched && editofferform.description.$invalid }">
									<text-angular
										ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre'],['justifyLeft', 'justifyCenter', 'justifyRight'],
      									['bold', 'underline', 'ul', 'ol', 'redo', 'undo'],['html', 'insertImage','insertLink', 'insertVideo','charcount']]"
										ng-model="htmlVariable" name="description" required></text-angular>
								</div>
								<div class="help-block"
									ng-messages="editofferform.description.$error"
									ng-if="editofferform.description.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="subcategories" class="col-xs-3 control-label">Categorías
								(*)</label>
							<div class="col-xs-9">
								<uib-accordion close-others="oneAtATime"> <uib-accordion-group
									heading="{{category.categoryName}}"
									ng-repeat="category in categories">

								<div class="btn-group">
									<label id="MyOfferSubcategories" class="btn btn-primary"
										ng-repeat="subcategory in categories[$index].subcategories"
										ng-model="checkModel[subcategory.subcategoryId]"
										uib-btn-checkbox>{{subcategory.subcategoryName}}</label>
								</div>
								</uib-accordion-group> </uib-accordion>
							</div>
						</div>
						<div class="form-group">
							<label for="inputImage" class="col-xs-3 control-label">Imagen</label>
							<div class="col-xs-9"
								ng-class="{ 'has-error': editofferform.file.$touched && editofferform.file.$invalid }">

								<div class="file-preview">
									<img
										ng-src="data:{{offer.contentMime}};base64,{{offer.offerImage}}"
										class="file-preview-image" id="editphotofile"
										style="width: auto; height: 120px;">
								</div>
								<input name="file" type="file" class="file sgpfc-btn-primary"
									placeholder="png o jpg"
									data-allowed-file-extensions='["jpg", "png"]' id="photofile"
									ng-disabled="link != null && link.length != 0"
									file-model="offerImageFile">
								<script type="text/javascript">
									$("#photofile").fileinput({
										showUpload : false,
										language : 'es'
									});
								</script>
								<script>
									$("#photofile")
											.on(
													'change',
													function(event) {
														var link = document
																.getElementById('editphotofile');
														link.style.display = 'none'; //or
														link.style.visibility = 'hidden';
													});
								</script>
								<script type="text/javascript">
									$("#photofile").on('fileclear',
											function(event) {
												console.log("fileclear");
											});
								</script>
							</div>
							<div class="help-block" ng-messages="editofferform.file.$error"
								ng-if="editofferform.file.$touched" role="alert">
								<div ng-message="required" class="alert alert-danger">Este
									campo es Obligatorio</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputImage" class="col-xs-3 control-label">PDF
								(*)</label>
							<div class="col-xs-9"
								ng-class="{ 'has-error': editofferform.filepdf.$touched && editofferform.filepdf.$invalid }">
								<div class="col-xs-12" id="editPdf"
									ng-show="offer.offerPdf != null">
									<a target="new"
										ng-href="http://localhost:8080/proyectoTFM/rest/offers/pdf/{{offer.offerId}}"><img
										class="col-xs-2" src="./resources/img/pdf1.png"></img></a>
									<div class="checkbox col-xs-10">
										<label> <input ng-model="deleteOfferPdf"
											type="checkbox"> Eliminar pdf
										</label>
									</div>
								</div>
								<input class="col-xs-12" name="filepdf" type="file"
									class="file sgpfc-btn-primary" placeholder="png o jpg"
									data-allowed-file-extensions='["pdf"]' id="filepdf"
									ng-disabled="link != null && link.length != 0"
									file-model="offerPdfFile">

								<script type="text/javascript">
									$("#filepdf").fileinput({
										showUpload : false,
										language : 'es'
									});
								</script>
								<script>
									$("#filepdf")
											.on(
													'change',
													function(event) {
														var link = document
																.getElementById('editPdf');
														link.style.display = 'none'; //or
														link.style.visibility = 'hidden';
													});
								</script>
							</div>
							<div class="help-block"
								ng-messages="editofferform.filepdf.$error"
								ng-if="editofferform.filepdf.$touched" role="alert">
								<div ng-message="required" class="alert alert-danger">Este
									campo es Obligatorio</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label">Fecha Límite</label>
							<div class="btn-group col-xs-9"
								ng-class="{ 'has-error': editofferform.options.$touched && editofferform.options.$invalid }">
								<label class="btn btn-default btn-radio"
									ng-class="{'active': limit == '0'}"> <input
									type="radio" data-ng-model="limit" name="options" id="option1"
									value="0">Sin Límite
								</label> <label class="btn btn-default btn-radio"
									ng-class="{'active': limit == '1'}"> <input
									type="radio" data-ng-model="limit" name="options" id="option2"
									-value="1">Oferta Primer Cuatrimestre
								</label> <label class="btn btn-default btn-radio"
									ng-class="{'active': limit == '2'}"> <input
									type="radio" data-ng-model="limit" name="options" id="option3"
									value="2">Oferta Segundo Cuatrimestre
								</label>
							</div>
							<div class="help-block"
								ng-messages="editofferform.options.$error"
								ng-if="editofferform.options.$touched" role="alert">
								<div ng-message="required" class="alert alert-danger">Este
									campo es Obligatorio</div>
							</div>
						</div>
						<div>(*) Campos Opcionales</div>
						<div class="form-group">
							<div
								class="sgpfc-recoverypasswordbox-button col-xs-offset-3 col-xs-9">
								<button id="btn-recoverpassword" type="submit"
									class="btn sgpfc-btn-primary btn-block"
									ng-disabled="editofferform.$invalid">
									<i class="icon-hand-right"></i>Guardar Oferta
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- 		<a ng-hide="true" href="" data-toggle="modal" data-target="#confirmEditOfferModal" id="myModalShower"></a> -->
		<div class=" modal fade" id="confirmEditOfferModal" tabindex="-1"
			role="dialog" aria-labelledby="confirmEditOfferModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="col-xs-12 help-block" role="alert">
							<div ng-show="offerEdited" class="alert alert-success">Oferta
								editada correctamente</div>
						</div>
						<button type="button" data-dismiss="modal"
							class=" col-xs-offset-10 btn sgpfc-btn-primary" id="editOk">Aceptar</button>
					</div>
				</div>
			</div>
		</div>
</body>
</html>