<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Editar Proyecto</title>
</head>
<body>
	<div class="container">
		<div id="editprojectbox"
			class="sgpfc-registerbox col-xs-8 col-xs-offset-2">
			<div class="panel sgpfc-loginbox-panel">
				<div class="panel-heading sgpfc-loginbox-heading">
					<div class="panel-title sgpfc-loginbox-title">Editar Proyecto</div>
				</div>
				<div class="sgpfc-loginbox-panelbody panel-body">
					<div class="help-block" role="alert">
						<div ng-show="noEditProject" class="alert alert-danger">El
							proyecto no se pudo editar correctamente</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="projectEdited" class="alert alert-success">Proyecto
							editado correctamente.</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="noTeacher" class="alert alert-danger">No
							puedes editar un proyecto ya que no eres un profesor</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="noTeacherOrLogged" class="alert alert-danger">No
							se puede editar el proyecto (no registrado como profesor o
							logeado)</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="incorrectTeacher" class="alert alert-danger">No
							se puede editar el proyecto (no eres propietario del proyecto)</div>
					</div>
					<form id="editprojectform" name="editprojectform"
						class="form-horizontal" role="form" ng-submit="editProject()">
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Nombre</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editprojectform.name.$touched && editprojectform.name.$invalid }">
									<input id="name" type="text" class="form-control" name="name"
										value="" aria-label="..." placeholder="Nombre"
										ng-model="project.projectName" required>
								</div>
								<div class="help-block"
									ng-messages="editprojectform.name.$error"
									ng-if="editprojectform.name.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Código</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editprojectform.code.$touched && editprojectform.code.$invalid }">
									<input id="code" type="text" class="form-control" name="cod"
										value="" aria-label="..." placeholder="Código"
										ng-model="project.projectCode" required>
								</div>
								<div class="help-block"
									ng-messages="editprojectform.code.$error"
									ng-if="editprojectform.code.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Titulación</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editprojectform.career.$touched && editprojectform.name.$invalid }">
									<input id="career" type="text" class="form-control"
										name="career" value="" aria-label="..."
										placeholder="Titulación" ng-model="project.projectCareer"
										required>
								</div>
								<div class="help-block"
									ng-messages="editprojectform.career.$error"
									ng-if="editprojectform.career.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-xs-3 control-label">Año</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editprojectform.year.$touched && editprojectform.year.$invalid }">
									<input string-to-number id="year" type="number"
										class="form-control" name="year" aria-label="..."
										placeholder="Año" min="1950" max="3000"
										data-ng-model="project.projectYear" required>
								</div>
								<div class="help-block"
									ng-messages="editprojectform.year.$error"
									ng-if="editprojectform.year.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="number" class="alert alert-danger">El
										campo no contiene un año</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="student" class="col-xs-3 control-label">Alumno</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editprojectform.student.$touched && editprojectform.student.$invalid }">
									<select ng-model="project.projectStudent" name="student"
										class="form-control selectpicker" data-live-search="true">
										<option ng-repeat="student in students | orderBy: 'name'"
											value="{{student.userId}}">{{student.name}}</option>
									</select>
								</div>
								<div class="help-block"
									ng-messages="editprojectform.student.$error"
									ng-if="editprojectform.student.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="number" class="alert alert-danger">El
										campo no contiene un año</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputImage" class="col-xs-3 control-label">Documentación</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error':editprojectform.filedocumentation.$touched && editprojectform.filedocumentation.$invalid }">
									<div id="editDocumentation" ng-show="project.projectDocumentation != null">
									<a target="new"
										ng-href="http://localhost:8080/proyectoTFM/rest/projects/pdf/documentation/{{project.projectId}}"><img
										class="" src="./resources/img/pdf1.png"></img></a>
								</div>
									<input name="filedocumentation" type="file"
										class="file sgpfc-btn-primary" placeholder="pdf"
										data-allowed-file-extensions='["pdf"]' id="filedocumentation"
										ng-disabled="link != null && link.length != 0"
										file-model="project.projectDocumentation" required>
									<script type="text/javascript">
										$("#filedocumentation").fileinput({
											showUpload : false,
											language : 'es'
										});
									</script>
										<script>
									$("#filedocumentation")
											.on(
													'change',
													function(event) {
														var link = document
																.getElementById('editDocumentation');
														link.style.display = 'none'; //or
														link.style.visibility = 'hidden';
													});
								</script>
								</div>
								<div class="help-block"
									ng-messages="editprojectform.filedocumentation.$error"
									ng-if="editprojectform.filedocumentation.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputImage" class="col-xs-3 control-label">Anteproyecto</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12"
									ng-class="{ 'has-error': editprojectform.filedraft.$touched && editprojectform.filedraft.$invalid }">
											<div id="editDraft" ng-show="project.projectDraft != null">
									<a target="new"
										ng-href="http://localhost:8080/proyectoTFM/rest/projects/pdf/draft/{{project.projectId}}"><img
										class="" src="./resources/img/pdf1.png"></img></a>
								</div>
									<input name="filedraft" type="file" placeholder="pdf"
										class="file sgpfc-btn-primary"
										data-allowed-file-extensions='["pdf"]' id="filedraft"
										ng-disabled="link != null && link.length != 0"
										file-model="project.projectDraft" required>
									<script type="text/javascript">
										$("#filedraft").fileinput({
											showUpload : false,
											language : 'es'
										});
									</script>
											<script>
									$("#filedraft")
											.on(
													'change',
													function(event) {
														var link = document
																.getElementById('editDraft');
														link.style.display = 'none'; //or
														link.style.visibility = 'hidden';
													});
								</script>
								</div>
								<div class="help-block"
									ng-messages="editprojectform.filedraft.$error"
									ng-if="editprojectform.filedraft.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="subcategories" class="col-xs-3 control-label">Categorías</label>
							<div class="col-xs-9">
								<uib-accordion close-others="oneAtATime"> <uib-accordion-group
									heading="{{category.categoryName}}"
									ng-repeat="category in categories">
								<div class="btn-group">
									<label id="MyProjectSubcategories" class="btn btn-primary"
										ng-repeat="subcategory in categories[$index].subcategories"
										ng-model="checkModel[subcategory.subcategoryId]"
										uib-btn-checkbox>{{subcategory.subcategoryName}}</label>
								</div>
								</uib-accordion-group> </uib-accordion>
							</div>
						</div>
						<div class="form-group">
							<label for="links" class="col-xs-3 control-label">Enlaces
								externos</label>
							<div class="col-xs-9">
								<div class="input-group col-xs-12">
									<input id="links" type="text" class="form-control" name="links"
										value="" aria-label="..." placeholder="Enlace,Enlace,Enlace"
										ng-model="project.projectLinks">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div
								class="sgpfc-recoverypasswordbox-button col-xs-offset-3 col-xs-9">
								<button id="btn-recoverpassword" type="submit"
									class="btn sgpfc-btn-primary btn-block"
									ng-disabled="editprojectform.$invalid">
									<i class="icon-hand-right"></i>Editar Proyecto
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>