<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Footer</title>
</head>
<body>
	  <div class="sgpfc-footer navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Site Built By Mario Amaro Faro
<!--            <a href="http://tinyurl.com/tbvalid" target="_blank" ></a> -->
      </p>
      
<!--       <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right"> -->
<!--       <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a> -->
    </div>
</body>
</html>