<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Iniciar</title>
</head>
<body>
	<div class="container">
		<div id="loginbox" class="sgpfc-loginbox col-xs-8 col-xs-offset-2">
			<div class="panel sgpfc-loginbox-panel">
				<div class="panel-heading sgpfc-loginbox-heading">
					<div class="panel-title sgpfc-loginbox-title">Iniciar Sesión</div>
					<div class="sgpfc-loginbox-recoverypassword-link">
						<a href="#/recoverpassword">Recuperar Contraseña</a>
					</div>
				</div>
				<div class="sgpfc-loginbox-panelbody panel-body">
					<div class="help-block" role="alert">
						<div ng-show="enableUser == 0" class="alert alert-danger">Lo
							sentimos, pero el administrador aún no ha activado tu usuario</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="incorrectUser" class="alert alert-danger">El
							usuario o contraseña son erróneos</div>
					</div>
					<form id="loginform" name="loginform" class="form-group"
						role="form" ng-submit="login()" novalidate>
						<div class="sgpfc-loginbox-inputgroup input-group"
							ng-class="{ 'has-error': loginform.email.$touched && loginform.email.$invalid }">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input id="email"
								type="email" class="form-control" name="email"
								placeholder="Email" ng-model="user.email" required>
						</div>
						<div class="help-block" ng-messages="loginform.email.$error"
							ng-if="loginform.email.$touched" role="alert">
							<div ng-message="required" class="alert alert-danger">Este
								campo es Obligatorio</div>
							<div ng-message="email" class="alert alert-danger">No es un
								formato de email válido</div>
						</div>
						<div class="sgpfc-loginbox-inputgroup input-group"
							ng-class="{ 'has-error': loginform.password.$dirty && loginform.password.$invalid }">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-lock"></i></span> <input id="password"
								type="password" class="form-control" name="password"
								placeholder="Contraseña" ng-model="user.password" required>
						</div>
						<div class="help-block" ng-messages="loginform.password.$error"
							ng-if="loginform.password.$dirty" role="alert">
							<div ng-message="required" class="alert alert-danger">Este
								campo es Obligatorio</div>
						</div>
						<div class="form-group">
							<div class="sgpfc-loginbox-btn-loginzone col-xs-12 controls">

								<button id="btn-login" class="btn sgpfc-btn-primary btn-block"
									type="submit"
									ng-disabled="loginform.email.$invalid || loginform.password.$invalid">Iniciar
									Sesión</button>
							</div>
						</div>
						<div class="form-group">
							<div class="sgpfc-loginbox-registerzone col-xs-12 control">
								<div class="sgpfc-loginbox-registerlink">
									No tienes una cuenta! <a href="#/register"> Resgistrate </a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>