<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mis Ofertas</title>
</head>
<body>
	<div class="row sgpfc-home-recommended sgpfc-container-cards">
		<h2 class="col-xs-6">Mis Ofertas</h2>
	</div>
	<div class="row sgpfc-container-cards .sgpfc-card-wrap">
		<div class="col-xs-3 img-responsive" ng-repeat="offer in myOfferList">
			<div class="panel panel-default sgpfc-card-tall-big sgpfc-card-panel">
				<div
					class="panel-thumbnail sgpfc-card-thumbnail sgpfc-card-thumbnail-img">
					<a ng-href="#/offers/teacher/{{offer.offerId}}"> <img
						ng-src="data:{{offer.contentMime}};base64,{{offer.offerImage}}"
						class="img-responsive">
					</a>
				</div>
				<div class="panel-body sgpfc-card-content">
					<div class="panel-body sgpfc-card-content">
						<p class="sgpfc-littlecard-title">
							<a ng-href="#/offers/teacher/{{offer.offerId}}"
								class="sgpfc-littlecard-title a">{{offer.offerName}}</a>
						</p>
				<!-- 		<p class="lead sgpfc-card-teacher">
							<a class="sgpfc-card-teacher">{{offer.teacher.name}}</a>
						</p> -->
						<p class="sgpfc-littlecard-description">{{offer.offerTinyDescription}}</p>
						<p class="sgpfc-card-footer">
							<img ng-repeat="subcategory in offer.offerSubcategoryList"
								ng-src="data:{{subcategory.contentMime}};base64,{{subcategory.subcategoryIcon}}"
								width="28px" height="28px">
						</p>
					</div>
				</div>
			</div>
		</div>
</body>
</html>