G-<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ofertas</title>
</head>
<body>
<div class="container">
	<div class="row">
        <button type="button" class="btn sgpfc-btn-primary sgpfc-btn-offers-search" data-toggle="collapse" data-target="#filter-panel">
            <span class="glyphicon glyphicon-cog"></span> Búsqueda Avanzada
        </button>
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Resultados por Página:</label>
                            <select id="pref-perpage" class="form-control">
                                <option value="8">8</option>
                                <option selected="selected" value="16">16</option>
                                <option value="24">24</option>
                                <option value="32">32</option>
                                <option value="40">40</option>
                            </select>                                
                        </div> <!-- form group [rows] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-search">Búsqueda:</label>
                            <input type="text" class="form-control input-sm" id="pref-search">
                        </div><!-- form group [search] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-orderby">Orden:</label>
                            <select id="pref-orderby" class="form-control">
                                <option>Descendente</option>
                                <option>Ascendente</option>
                            </select>                                
                        </div> <!-- form group [order by] --> 
                        <div class="form-group">    
                            <div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                <label><input type="checkbox"> Recordad Parámetros</label>
                            </div>
                            <button type="submit" class="btn btn-default filter-col">
                                <span class="glyphicon glyphicon-record"></span> Buscar
                            </button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>    
	</div>
</div>

	<div class="row sgpfc-container-cards .sgpfc-card-wrap">
		<div class="col-xs-3 img-responsive"
			ng-repeat="offer in activeOfferList">
			<div class="panel panel-default sgpfc-card-tall-big">
				<div
					class="panel-thumbnail sgpfc-card-thumbnail sgpfc-card-thumbnail-img">
					<img src="{{offer.offerImage}}" class="img-responsive">
				</div>
				<div class="panel-body sgpfc-card-content">
					<div class="panel-body sgpfc-card-content">
						<p class="sgpfc-card-title">
							<a class="sgpfc-card-title a">{{offer.offerName}}</a>
						</p>
						<p class="lead sgpfc-card-teacher">
							<a class="sgpfc-card-teacher">{{offer.offerTeacher}}</a>
						</p>
						<p class="sgpfc-card-description">{{offer.offerDescription}}</p>
						<p class="sgpfc-card-footer">
							<img ng-repeat="subcategory in offer.offerSubcategoryList"
								src="{{subcategory.subcategoryIcon}}" width="28px" height="28px">
						</p>
					</div>
				</div>
			</div>
		</div>
</body>
</html>