<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid col-xs-offset-1 col-xs-10">
		<table st-table="displayOfferList" st-safe-src="offerList"
			st-set-filter="myStrictFilter" class="table table-striped">
			<thead>
				<tr>
					<th st-sort="offerId">Id</th>
					<th st-sort="offerName">Nombre</th>
					<th st-sort="offerDescription">Descripción</th>
					<th st-sort="teacher">Profesor</th>
					<th st-sort="offerClose">Oferta Cerrada</th>
					<th st-sort="offerWithLimit">Oferta con Fecha Limite</th>
					<th st-sort="offerTimeLimit">Fecha Limite</th>
					<!-- 				<th st-sort="offerRegistrationList">Lista de interesados</th> -->
				</tr>
				<tr>
					<th></th>
					<th><input st-search="offerName"
						placeholder="buscar por nombre" class="input-sm form-control"
						type="search" /></th>
					<th><input st-search="offerDescription"
						placeholder="buscar por descripción" class="input-sm form-control"
						type="search" /></th>
					<th><input st-search="teacher"
						placeholder="buscar por profesor" class="input-sm form-control"
						type="search" /></th>
					<th><select st-search="offerClose">
							<option value="">Todos</option>
							<option ng-repeat="offer in offerList | unique:'offerClose'"
								value="{{offer.offerClose}}">{{offer.offerClose}}</option>
					</select></th>
					<th><select st-search="offerWithLimit">
							<option value="">Todos</option>
							<option ng-repeat="offer in offerList | unique:'offerWithLimit'"
								value="{{offer.offerWithLimit}}">{{offer.offerWithLimit}}</option>
					</select></th>
					<th><input st-search="offerTimeLimit"
						placeholder="buscar por fecha límite"
						class="input-sm form-control" type="search" /></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="offer in displayOfferList | filter:offerCloseFilter.filter">
					<td>{{offer.offerId}}</td>
					<td>{{offer.offerName}}</td>
					<td>{{offer.offerDescription}}</td>
					<td>{{offer.teacher}}</td>
					<td>{{offer.offerClose}}</td>
					<td>{{offer.offerWithLimit}}</td>
					<td>{{offer.offerTimeLimit | date}}</td>
					<!-- 				<td>{{offer.offerRegistrationList}}</td> -->
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>