<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ofertas</title>
</head>
<body>
	<!-- <script type="text/javascript"> $(function(){ 
		$(".sgpfc-card-panel").slice(0, 4).show(); // select the first ten
	    $("#load").click(function(e){ // click event for load more
	        e.preventDefault();
	        $(".sgpfc-card-panel:hidden").slice(0, 4).show(); // select next 10 hidden divs and show them
	        if($(".sgpfc-card-panel:hidden").length == 0){ // check if any hidden divs still exist
	            alert("No more divs"); // alert if there are none left
	        }
	    });});</script> -->
	<div class="container">
		<div class="row">
			<button type="button"
				class="btn sgpfc-btn-primary sgpfc-btn-offers-search"
				data-toggle="collapse" data-target="#filter-panel">
				<span class="glyphicon glyphicon-cog"></span> Búsqueda Avanzada
			</button>
			<div id="filter-panel" class="collapse filter-panel">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form" role="form">
							<div class="col-xs-6">
								<label class="filter-col" style="margin-right: 0;"
									for="pref-search">Nombre Oferta:</label> <input type="text"
									class="sgpfc-filter-title form-control input-sm"
									id="pref-search" ng-model="search.offerName"
									placeholder="Nombre">
							</div>
							<!-- form group [search] -->
							<div class="col-xs-6">
								<label class="filter-col" style="margin-right: 0;"
									for="pref-search">Descripción:</label> <input type="text"
									class="sgpfc-filter-title form-control input-sm"
									id="pref-search" ng-model="search.offerDescription"
									placeholder="Descripción">
							</div>
							<!-- form group [search] -->
							<div class="col-xs-6">
								<label class="filter-col" style="margin-right: 0;"
									for="pref-search">Subcategoría:</label> <input type="text"
									class="sgpfc-filter-title form-control input-sm"
									id="pref-search" ng-model="search.$" placeholder="Subcategoría">
							</div>
							<!-- form group [search] -->
							<div class="col-xs-4 sgpfc-offers-orderFilterZone">

								<label id="orderLabel" class="filter-col"
									style="margin-right: 0;" for="pref-orderby">Ofertas
									Nuevas primero:</label>
								<button ng-click="order('offerId')" class="btn btn-default">Cambiar
									Orden</button>
								<span class="sortorder" ng-show="predicate === 'offerId'"
									ng-class="{reverse:reverse}"></span>

							</div>
							<!-- form group [order by] -->
							<div class="col-xs-2 sgpfc-offers-offerRecommendedFilterZone">
								<label class="radio"> <input type="radio"
									name="offerRecommended" id="inlineRadio1"
									ng-model="search.offerRecommended" value=""> Todas las
									ofertas
								</label> <label class="radio"> <input type="radio"
									name="offerRecommended" id="inlineRadio2"
									ng-model="search.offerRecommended" value=true> Ofertas
									recomendadas
								</label> <label class="radio"> <input type="radio"
									name="offerRecommended" id="inlineRadio3"
									ng-model="search.offerRecommended" value=false> Otras
									ofertas
								</label>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="row sgpfc-container-cards .sgpfc-card-wrap">
		<div class="col-xs-3 img-responsive"
			ng-repeat="offer in activeOfferList | filter:search:strict | orderBy :offerId:reverse">
			<div class="panel panel-default sgpfc-card-tall-big sgpfc-card-panel">
				<div
					class="panel-thumbnail sgpfc-card-thumbnail sgpfc-card-thumbnail-img">
					<a ng-href="#/offers/{{offer.offerId}}"> <img
						ng-src="data:{{offer.contentMime}};base64,{{offer.offerImage}}"
						class="img-responsive">
					</a>
				</div>
				<div class="panel-body sgpfc-card-content">
					<div class="panel-body sgpfc-card-content">
						<p class="sgpfc-littlecard-title">
							<a ng-href="#/offers/{{offer.offerId}}"
								class="sgpfc-littlecard-title a">{{offer.offerName}}</a>
						</p>
						<!-- <p class="lead sgpfc-card-teacher">
							<a class="sgpfc-card-teacher">{{offer.teacher.name}}</a>
						</p> -->
						<p class="sgpfc-littlecard-description">{{offer.offerTinyDescription}}</p>
						<p class="sgpfc-card-footer">
							<img
								ng-repeat="subcategory in offer.offerSubcategoryList | filter:search:strict"
								ng-src="data:{{subcategory.contentMime}};base64,{{subcategory.subcategoryIcon}}"
								width="28px" height="28px">
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-xs-12">
			<a class="btn sgpfc-btn-seeall col-xs-offset-5" id="load">Cargar
				más</a>
		</div> -->
</body>
</html>