<!DOCTYPE html>
<html>
<head>
<!-- <meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">     
<meta name="viewport" content="width=device-width, initial-scale=1"><title>Oferta</title>
</head>
<body>
<div class="sgpfc-container-offer">
	<div class="sgpfc-container-offer-titlezone">
		<h2>{{offer.offerName}}</h2>
		<p>dirigido por <a><b>{{offer.teacher.name}}</b></a></p>
	</div>
	<div class="col-xs-8 sgpfc-container-offer-imagezone">
		<img src="{{offer.offerImage}}" class="img-responsive">
	</div>
	<div ng-show="offer.offerWithLimit" class="col-xs-4 sgpfc-container-offer-applyzone">
		<h1 class="sgpfc-container-offer-applyzone-number">50{{offer.offer}}</h1>
		<span class="text" >Alumnos Inscritos</span>
		<a class="btn sgpfc-btn-primary btn-block sgpfc-container-offer-applyzone-applybutton">Inscribirse</a>
		<p><span class="text" >Esta oferta finaliza el <b>{{offer.offerTimeLimit}}</b></span></p>
		<span class="text" >Categorias de la oferta:</span>
		<img ng-repeat="subcategory in offer.offerSubcategoryList" src="{{subcategory.subcategoryIcon}}" width="28px" height="28px">
	</div>
	<div ng-hide="offer.offerWithLimit" class="col-xs-4 sgpfc-container-offer-teacherzone">
		<h1 class="sgpfc-container-offer-applyzone-number">Contacto</h1>
		<p>Profesor: <a><b>{{offer.teacher.name}}</b></a></p>
		<p>Correo Electrónico: <a><b>{{offer.teacher.email}}</b></a></p>
		<span class="text" >Categorias de la oferta:</span>
		<img ng-repeat="subcategory in offer.offerSubcategoryList" src="{{subcategory.subcategoryIcon}}" width="28px" height="28px">
	</div>
	<div class="col-xs-12 sgpfc-container-offer-descriptionzone">
		<span class="text">{{offer.offerDescription}}</span>
	</div>
</div>

</body>
</html>