<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Oferta</title>
</head>
<body>
<div class="sgpfc-container-offer">
	<div class="sgpfc-container-offer-titlezone">
		<h2>{{offer.offerName}}</h2>
		<p>dirigido por <a><b>{{offer.teacher.name}}</b></a></p>
	</div>
	<div class="col-xs-8 sgpfc-container-offer-imagezone">
		<img src="{{offer.offerImage}}" class="img-responsive">
	</div>
	<div ng-show class="col-xs-4 sgpfc-container-offer-applyzone">
		
	</div>
	<div ng-show class="col-xs-4 sgpfc-container-offer-teacherzone"></div>
</div>

</body>
</html>