<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Proyectos</title>
</head>
<body>
<div class="container-fluid col-xs-offset-1 col-xs-10" ng-init="getProjects()">
	<table st-table="displayProjectList" st-safe-src="projectList"
		st-set-filter="myStrictFilter" class="table table-striped">
		<thead>
			<tr>
				<th st-sort="projectId">Id</th>
				<th st-sort="projectName">Nombre</th>
				<th st-sort="projectSubcategoryList">Categorias</th>
				<th st-sort="studentId">Autor</th>
				<th st-sort="teacherId">Tutor</th>
				<th st-sort="projectCareer">Titulación</th>
				<th st-sort="projectYear">Año</th>
				<th st-sort="projectTFG">TFG</th>
				<th st-sort="projectDraft">Anteproyecto</th>
				<th st-sort="projectDocumentation">Proyecto</th>
				
				<!-- 				<th st-sort="offerRegistrationList">Lista de interesados</th> -->
			</tr>
			<tr>
				<th><input st-search="projectId"
					placeholder="#" class="input-sm form-control"
					type="search" /></th>
				<th><input st-search="projectName"
					placeholder="buscar por nombre" class="input-sm form-control"
					type="search" /></th>
				<th></th>
				<th><input st-search="studentId"
					placeholder="buscar por autor" class="input-sm form-control"
					type="search" /></th>
				<th><input st-search="teacherId"
					placeholder="buscar por profesor" class="input-sm form-control"
					type="search" /></th>
				<th><input st-search="projectCareer"
					placeholder="buscar por titulación" class="input-sm form-control"
					type="search" /></th>
				<th><input st-search="projectYear"
					placeholder="buscar por año" class="input-sm form-control"
					type="search" /></th>
				<th><select class="form-control" st-search="projectTFG">
						<option value="">Todos</option>
						<option value="">Si</option>
						<option value="">No</option>
				</select></th>
				<th></th>
				<th></th>
				
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="project in displayProjectList">
				<td>{{project.projectId}}</td>
				<td>{{project.projectName}}</td>
				<td><img ng-repeat="subcategory in project.projectSubcategoryList" src="{{subcategory.subcategoryIcon}}" width="28px" height="28px"></td>
				<td>{{project.projectStudent.name}}</td>
				<td>{{project.projectTeacher.name}}</td>
				<td>{{project.projectCareer}}</td>
				<td>{{project.projectYear}}</td>
				<td><span ng-if="'{{project.projectTFG}}'===true">✔</span>
     			<span ng-if="!{{project.projectTFG}}">✖</span></td>
				<td>{{project.projectDraft}}</td>
				<td>{{project.projectDocumentation}}</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>