<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Recuperar Contraseña</title>
</head>
<body>
<div class="container">  
 <div id="recoverypasswordbox" class="sgpfc-loginbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel sgpfc-loginbox-panel">
                        <div class="panel-heading sgpfc-loginbox-heading">
                            <div class="panel-title sgpfc-loginbox-title">Recuperar Contraseña</div>
                            <div class="sgpfc-loginbox-login-link"><a id="signinlink" href="#/login" ">Iniciar Sesión</a></div>
                        </div>  
                        <div class="sgpfc-loginbox-panelbody panel-body" >
                            <form id="recoverypasswordform" class="form-horizontal" role="form">
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                    	<div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email">                                        
                                    </div>
                                <div class="form-group">                                       
                                    <div class="sgpfc-recoverypasswordbox-button col-xs-12">
                                        <button id="btn-recoverpassword" type="button" class="btn sgpfc-btn-primary btn-block"><i class="icon-hand-right"></i>Enviar Contraseña</button>  
                                    </div>
                                </div>
                            </form>
                         </div>
                    </div>
              </div>    
         </div> 
</body>
</html>