<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Recuperar Contraseña</title>
</head>
<body>
	<div class="container">
		<div id="recoverypasswordbox"
			class="sgpfc-loginbox col-xs-8 col-xs-offset-2">
			<div class="panel sgpfc-loginbox-panel">
				<div class="panel-heading sgpfc-loginbox-heading">
					<div class="panel-title sgpfc-loginbox-title">Recuperar
						Contraseña</div>
					<div class="sgpfc-loginbox-login-link">
						<a id="signinlink" href="#/login"">Iniciar Sesión</a>
					</div>
				</div>
				<div class="sgpfc-loginbox-panelbody panel-body">
					<form id="recoverypasswordform" name="recoverypasswordform"
						class="form-horizontal" role="form" ng-submit="recoverypassword()">
						<div class="help-block" role="alert">
							<div ng-show="sendedEmail" class="alert alert-success">Contraseña
								enviada al correo {{user.email}}</div>
						</div>
						<div class="help-block" role="alert">
							<div ng-show="incorrectUser" class="alert alert-danger">El
								email no se encuentra en la base de datos</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="input-group"
									ng-class="{ 'has-error': recoverypasswordform.email.$touched && recoverypasswordform.email.$invalid }">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-envelope"></i></span> <input id="email"
										type="email" class="form-control" name="email" value=""
										placeholder="Email" ng-model="user.email" required>
								</div>
								<div class="help-block"
									ng-messages="recoverypasswordform.email.$error"
									ng-if="recoverypasswordform.email.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="email" class="alert alert-danger">No es
										un formato de email valido</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="sgpfc-recoverypasswordbox-button col-xs-12">
								<button id="btn-recoverpassword" type="submit"
									class="btn sgpfc-btn-primary btn-block"
									ng-disabled="recoverypasswordform.$invalid">
									<i class="icon-hand-right"></i>Enviar Contraseña
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>