<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registrar</title>
</head>
<body>
	<div class="container">
		<div id="registerbox"
			class="sgpfc-registerbox col-xs-8 col-xs-offset-2">
			<div class="panel sgpfc-loginbox-panel">
				<div class="panel-heading sgpfc-loginbox-heading">
					<div class="panel-title sgpfc-loginbox-title">Registrar</div>
					<div class="sgpfc-loginbox-login-link">
						<a id="signinlink" href="#/login"">Iniciar Sesión</a>
					</div>
				</div>
				<div class="sgpfc-loginbox-panelbody panel-body">
					<div class="help-block" role="alert">
						<div ng-show="emailUsed" class="alert alert-danger">Lo
							sentimos, pero esta intentando registrarse con un email en uso</div>
					</div>
					<div class="help-block" role="alert">
						<div ng-show="userCreated" class="alert alert-success">Usuario
							registrado correctamente, necesitará esperar a la activación de
							cuenta por parte del administrador</div>
					</div>
					<form id="registerform" name="registerform" class="form-horizontal"
						role="form" ng-submit="register()" novalidate>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="input-group"
									ng-class="{ 'has-error': registerform.email.$touched && registerform.email.$invalid }">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-envelope"></i></span> <input id="email"
										type="email" class="form-control" name="email" value=""
										placeholder="Email" ng-model="user.email" required>
								</div>
								<div class="help-block" ng-messages="registerform.email.$error"
									ng-if="registerform.email.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="email" class="alert alert-danger">No es
										un formato de email válido</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="input-group"
									ng-class="{ 'has-error': registerform.name.$touched && registerform.name.$invalid }">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input id="name"
										type="text" class="form-control" name="name" value=""
										ng-minlength="10" ng-maxlength="45"
										placeholder="Nombre Completo" ng-model="user.name" required>
								</div>
								<div class="help-block" ng-messages="registerform.name.$error"
									ng-if="registerform.name.$touched" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="maxlength" class="alert alert-danger">Nombre
										demasiado largo</div>
									<div ng-message="minlength" class="alert alert-danger">Nombre
										demasiado corto</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="input-group"
									ng-class="{ 'has-error': registerform.password.$dirty && registerform.password.$invalid }">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input
										id="login-password" type="password" class="form-control"
										name="password" placeholder="Contraseña"
										ng-model="user.password" required ng-minlength="6"
										ng-maxlength="20">
								</div>
								<div class="help-block"
									ng-messages="registerform.password.$error"
									ng-if="registerform.password.$dirty" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="maxlength" class="alert alert-danger">Contraseña
										demasiado larga</div>
									<div ng-message="minlength" class="alert alert-danger">Contraseña
										demasiado corta</div>
								</div>

							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<div class="input-group"
									ng-class="{ 'has-error': registerform.confirmpassword.$dirty && registerform.confirmpassword.$invalid }">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input
										id="login-confirmpassword" type="password"
										class="form-control" name="confirmpassword"
										placeholder="Confirmar Contraseña" required
										ng-pattern="{{user.password}}" ng-model="confirmpassword"
										ng-minlength="6" ng-maxlength="20">
								</div>
								<div class="help-block"
									ng-messages="registerform.confirmpassword.$error"
									ng-if="registerform.confirmpassword.$dirty" role="alert">
									<div ng-message="required" class="alert alert-danger">Este
										campo es Obligatorio</div>
									<div ng-message="pattern" class="alert alert-danger">Las
										contraseñas no coinciden</div>
									<div ng-message="maxlength" class="alert alert-danger">Contraseña
										demasiado larga</div>
									<div ng-message="minlength" class="alert alert-danger">Contraseña
										demasiado corta</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<button id="btn-signup" type="submit"
									class="btn sgpfc-btn-primary btn-block"
									ng-disabled="registerform.$invalid">
									<i class="icon-hand-right"></i>Registrar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>