<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mis Inscripciones</title>
</head>
<body>
	 <!-- <script type="text/javascript"> $(function(){ 
		$(".sgpfc-card-panel").slice(0, 4).show(); // select the first ten
	    $("#load").click(function(e){ // click event for load more
	        e.preventDefault();
	        $(".sgpfc-card-panel:hidden").slice(0, 4).show(); // select next 10 hidden divs and show them
	        if($(".sgpfc-card-panel:hidden").length == 0){ // check if any hidden divs still exist
	            alert("No more divs"); // alert if there are none left
	        }
	    });});</script> -->

	<div class="row sgpfc-home-recommended sgpfc-container-cards">
		<h2 class="col-xs-6">Mis Inscripciones</h2>
	</div>
	<div class="row sgpfc-container-cards .sgpfc-card-wrap">
		<div class="col-xs-3 img-responsive"
			ng-repeat="offer in myRegistrationsList">
			<div class="panel panel-default sgpfc-card-tall-big sgpfc-card-panel">
				<div
					class="panel-thumbnail sgpfc-card-thumbnail sgpfc-card-thumbnail-img">
					<a ng-href="#/offers/{{offer.offerId}}">
					<img ng-src="data:{{offer.contentMime}};base64,{{offer.offerImage}}" class="img-responsive">
					</a>
				</div>
				<div class="panel-body sgpfc-card-content">
					<div class="panel-body sgpfc-card-content">
						<p class="sgpfc-card-title">
							<a ng-href="#/offers/{{offer.offerId}}" class="sgpfc-card-title a">{{offer.offerName}}</a>
						</p>
						<p class="lead sgpfc-card-teacher">
							<a class="sgpfc-card-teacher">{{offer.offerTeacher}}</a>
						</p>
						<p class="sgpfc-card-description">{{offer.offerTinyDescription}}</p>
						<p class="sgpfc-card-footer">
							<img
								ng-repeat="subcategory in offer.offerSubcategoryList | filter:search:strict"
								src="{{subcategory.subcategoryIcon}}" width="28px" height="28px">
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12" >
			<a class="btn sgpfc-btn-seeall col-xs-offset-5" id="load">Cargar más</a>
		</div>
</body>
</html>